body
{

    font-family: Arial;
    background-attachment: fixed;
    background-color: #3B3B36;
    font-size: 20px;
    color: #D2D2D1;
    font-family: 'Lato';
}
.groups{
    border-style: solid;
    border-color: #666166;
    border-width: 3px;
    border-radius: 5px;
    background-color: #3c3c3c;
    position: absolute;
    top: 8px;
    right: 16px;
    color: #D2D2D1;
}
#userInfos{
    position: absolute;
    top: 8px;
    left: 16px;
    border-style: solid;
    border-color: #666166;
    border-width: 3px;
    border-radius: 5px;
    background-color: #3c3c3c;
}

.logo{
    position: relative;
    width: 80px;
    height: 80px;
    left: 40px;
    margin: 8px;
}
a:visited{
    color: #D2D2D1;
}
.textNearImage{

    margin: 30px;
    position: relative;
    float: right;
    right: 90px;
}
#groupLogo{

    position: relative;
    width: 80px;
    height: 80px;
    margin: 8px;
}

p{
    margin: 8px;
}
li{
    margin: 8px;
}
li:hover{
    color: darkorange;
}
#userInfosButton{
font-size: 18px;
}